TELEGRAM_BOT_TOKEN="YOUR_TELEGRAM_BOT_TOKEN"
TELEGRAM_CHAT_ID="YOUR_TELEGRAM_CHAT_ID"
API_ID="YOUR_API_ID"
API_HASH="YOUR_API_HASH"
PHONE_NUMBER="YOUR_PHONE_NUMBER"
WEBHOOK_SECRET_TOKEN="YOUR_WEBHOOK_SECRET_TOKEN_HERE"
ALLOWED_TRADINGVIEW_CIDRS="52.89.214.238/32,34.212.75.30/32,54.218.53.128/32,52.32.178.7/32"
