TELEGRAM_BOT_TOKEN="YOUR_TELEGRAM_BOT_TOKEN"
TELEGRAM_CHAT_ID="YOUR_TELEGRAM_CHAT_ID"
API_ID="YOUR_API_ID"
API_HASH="YOUR_API_HASH"
PHONE_NUMBER="YOUR_PHONE_NUMBER"
WEBHOOK_SECRET_TOKEN="YOUR_WEBHOOK_SECRET_TOKEN_HERE"
